html
{
  background: #333;
  font-family: 'Arial' , sans-serif;
  font-size: 18px;
  line-height: 22px;
}

ul, li, a, img
{
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #CCC;
}

input
{
  padding: 4px;
  border: 1px solid white;
  border-radius: 4px;
  background: #CCC;
  color: #000;
  font-size: 18px;
  line-height: 22px;;
}

div#global_navbar
{
  background: #000;
  height: 40px;
}

div.tag_input_outer
{
/* outline: 1px solid red; */
  position: relative;
}
  div.tag_input_outer > input
  {
    width: 100%;
    top: 0px;
    left: 0px;
  }
  div.tag_input_outer > span.tag_overlay
  {
/*
    width: 100%;
outline: 1px solid blue;
    top: 0px;
    left: 0px;
*/
  }

/* FancyBox Overrides */
div.fancybox-skin
{
  background: #333;
}
