html
{
  background: #333;
  font-family: 'Arial' , sans-serif;
  font-size: 18px;
  line-height: 22px;
}

ul, li, a, img
{
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #CCC;
}

input
{
  padding: 4px;
  border: 1px solid white;
  border-radius: 4px;
  background: #CCC;
  color: #000;
  font-size: 18px;
  line-height: 22px;;
}
  input.alx_tags
  {
    display: none;
  }
  input.alx_tags_tmp
  {
    display: inline;
  }

div.div_tags
{
  padding: 10px 2px;
}

span.tag_tag
{
  background: #999;
  border: #FFF;
  border-radius: 5px;
  padding: 5px 0;
float: left;
  margin: 2px;
}
  span.tag_tag > a
  {
    font-size: 18px;
    line-height: 22px;
    margin: 5px 0;
    padding: 10px;
    color: #000;
    text-decoration: none;
  }
  
  span.tag_remove
  { 
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 4px;
    margin: 0 8px 0 0 ;
  }

div#global_navbar
{
  background: #000;
  height: 40px;
}

div.tag_input_outer
{
/* outline: 1px solid red; */
  position: relative;
}
  div.tag_input_outer > input
  {
    width: 100%;
    top: 0px;
    left: 0px;
  }
  div.tag_input_outer > span.tag_overlay
  {
/*
    width: 100%;
outline: 1px solid blue;
    top: 0px;
    left: 0px;
*/
  }

/* FancyBox Overrides */
div.fancybox-skin
{
  background: #333;
}
