<?php
/**
 *  Global Configuration File
 *  
 *  @author Andrew Kozak < andrewkozak.com >
 */



/** Filesystem **/
define( 'FS_ROOT' , '' );



/** MySQL **/
define( 'MYSQL_LOCATION' , '' );
define( 'MYSQL_DATABASE' , '' );
define( 'MYSQL_USERNAME' , '' );
define( 'MYSQL_PASSWORD' , '' );



?>
