<?php
/**
 *  Global Configuration File
 *  
 *  @author Andrew Kozak < andrewkozak.com >
 */



/** Filesystem **/
// Use a trailing slash; e.g. www.website.com/gallery/
define( 'FS_ROOT' , '' );



/** MySQL **/
define( 'MYSQL_LOCATION' , '' );
define( 'MYSQL_DATABASE' , '' );
define( 'MYSQL_USERNAME' , '' );
define( 'MYSQL_PASSWORD' , '' );



/** Globals **/
define( 'IMAGE_SIZE' , '200' );



?>
